{% extends 'standard.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('admin_profile/_form.html.twig') }}

    <a href="{{ path('app_admin_profile_index') }}">back to list</a>
{% endblock %}
